*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
body::before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url('https://trpws2015.files.wordpress.com/2015/10/img_4388-0.jpg?w=1000') no-repeat center center/cover;
    background-blend-mode: darken;
}

/* Navigation Bar */
#navBar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#aboutUsBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    margin: auto 1rem;
    font-size: 30px;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* MISSION */
#intro{
    border: 1px solid grey;
    border-radius: 0.5rem;
    background: linear-gradient(rgba(94, 181, 252, 0.867), rgba(141, 110, 228, 0.885));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
    margin-top: 10rem;
}
#intro div h1{
    color: rgb(2, 22, 21);
}
#first{
    animation: disappear 1s ease-in-out 1s 1 backwards;
    margin: 2rem 0;
    width: 30%;
    text-align: center;
}
#second{
    animation: disappear 1s ease-in-out 2s 1 backwards;
    margin: 2rem 0;
    width: 30%;
    padding: 0 4rem;
}
#third{
    animation: disappear 1s ease-in-out 3s 1 backwards;
    margin: 2rem 0;
    width: 30%;
    text-align: center;
}
@keyframes disappear{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.6;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

/* Our Approach */
#ourApproach{
    border: 1px solid grey;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.3) url('https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-blend-mode: darken;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
    padding: 2rem 4rem;
}
#ourApproach h1{
    margin-top: 2rem;
    color: goldenrod;
}
#ourApproach p{
    font-family: 'Mulish', sans-serif;
    color: white;
    padding: 1rem 6rem;
}

/* TRPWS Team */
#trpwsTeam{
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgb(201, 223, 223), rgb(163, 212, 216));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem 4rem;
}
#trpwsTeam>h1{
    color: goldenrod;
}
#trpwsTeam div:nth-child(2n+1){
    flex-direction: row-reverse;
}
.teamMate{
    display: flex;
    margin: 1rem;
    background-color: white;
}
.personProfile{
    margin: 1rem 2rem;
}
.personName{
    color: rgb(4, 176, 233);
}
.personJob{
    color: rgb(226, 85, 226);
    font-size: 1.5rem;
    margin: 1rem 0;
}
.personList, .personAbout{
    color: black;
    margin: 2rem 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
}
#aKaur .personImage img{
    width: 300px;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}