@media (max-width: 1072px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    #navList{
        display: none;
    }
    #hamBurger{
        display: block;
    }
    .icons{
        width: 50%;
    }
    #contactInfo{
        padding: 0;
    }
    .contactType{
        width: 60vh;
        height: 50vh;
    }
    .envelopeImg img{
        margin-left: 5rem;
    }
    .formInputs{
        width: 100%;
    }
    .sendBtn{
        font-size: 16px;
    }
    .sendBtn:hover{
        font-size: 17px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    #logoFoot{
        width: 70%;
        margin-bottom: 1rem;
    }
    #otherThings{
        border-top: 2px solid black;
        padding-top: 1rem;
    }
}
@media (max-width: 850px){
    .contactType{
        width: 50vh;
        padding: 0.2rem;
    }
    .sendBtn{
        font-size: 14px;
        width: 60%;
    }
    .sendBtn:hover{
        font-size: 15px;
    }
    #address{
        flex-direction: column;
    }
    #addressMap{
        width: 100%;
    }
    #addressWritten{
        width: 90%;
    }
}
@media (max-width: 700px){
    #contactInfo{
        height: 100%;
    }
    #contactList{
        flex-direction: column;
        margin-top: -7rem;
    }
    .sendBtn{
        width: 70%;
    }
    .contactType{
        width: 70%;
        margin: 3rem;
    }
    #address{
        padding: 5rem 1rem;
    }
}
@media (max-width: 600px){
    #navBar img{
        display: none;
    }
    #hamBurger{
        margin: 1rem;
        margin-left: 2rem;
    }
    .btnReadMore, .btnReadLess{
        width: 48%;
        padding: 0.1rem;
    }
    #intro h1{
        font-size: 2.2rem;
    }
    #intro p{
        padding: 0 1rem;
    }
    .envelopeImg{
        display: none;
    }
    #contactForm form{
        width: 100%;
    }
    #smallSize{
        margin: 0;
        padding: 0%;
    }
    .icons{
        width: 75%;
    }
}
@media (max-width: 400px){
    .icons{
        width: 100%;
    }
    #addressWritten{
        padding: 4rem 0.5rem;
    }
    #intro h1{
        font-size: 2rem;
    }
    #intro p{
        padding: 0 0.5rem;
    }
    #backgroundBlue h1{
        font-size: 1.5rem;
    }
    #backgroundBlue h5{
        font-size: 1.1rem;
    }
    #address{
        padding: 5rem 0;
    }
}
/* 25767041/70427066 */
@media(max-width: 300px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }
    div{
        font-size: 1rem;
    }
    #backgroundBlue h1{
        font-size: 1.4rem;
    }
    #backgroundBlue h5{
        font-size: 1rem;
    }
    .sendBtn{
        width: 80%;
    }
    #intro h1{
        font-size: 1.7rem;
    }
    #intro p{
        padding: 0 1rem;
    }
}