*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Navigation Bar */
#navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#contactBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    margin: auto 1rem;
    font-size: 30px;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* Introductory section */
#background{
    background: url('https://files.123freevectors.com/wp-content/original/130999-abstract-blue-and-white-polygonal-triangular-background.jpg') no-repeat center/cover;
    height: 80vh;
    background-attachment: fixed;
}
#intro{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro h1{
    background-image: linear-gradient(45deg, rgb(179, 182, 0), rgb(48, 153, 0), rgb(0, 133, 93));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop-down 1s ease-out backwards;
    font-size: 3rem;
}
@keyframes drop-down{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}
#intro h1 hr{
    height: 1px;
    margin: 0;
    background-color: black;
}
#intro p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
#intro a{
    background-color: #00aced;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
}
#intro a:hover{
    font-size: 1.04rem;
    padding: 0.7rem 1.7rem;
    margin: -0.2rem 0;
    background-color: #fb3958;
}

/* Contact Information */
#contactInfo{
    height: 50vh;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactList{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -15rem;
}
.contactType{
    background-color: white;
    padding: 1rem 3rem;
    width: 70vh;
    border: 1px solid grey;
    box-shadow: grey 1px 1px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contactType i{
    font-size: 40px;
    margin: 2rem 0;
}
.contactType p{
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.contactType div{
    color: #fb3958;
    margin-bottom: 2rem;
}

/* Address */
#backgroundAdd{
    background: url('https://cdn.onlinewebfonts.com/svg/img_459539.png') no-repeat center/contain;
    background-attachment: fixed;
}
#address{
    background: linear-gradient(90deg, rgba(238, 195, 6, 0.5), rgba(233, 10, 84, 0.5));
    display: flex;
    padding: 5rem 4rem;
    justify-content: space-evenly;
    align-items: center;
}
#addressMap{
    width: 50%;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
}
#addressWritten{
    width: 40%;
    box-shadow: black 1px 1px 1rem;
    text-align: center;
    padding: 4rem 2rem;
    margin-top: 2rem;
    background-color: white;
}
#addressMap iframe{
    width: 80%;
    height: 50vh;
}
.fa-map-marker{
    margin-right: 1rem;
}
#addressWritten h1{
    background-image: linear-gradient(90deg, rgb(238, 195, 6), rgb(233, 10, 84));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
}
#addressWritten p{
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
}
#address hr{
    height: 2px;
    background-color: black;
}

/* Contact Form */
#backgroundBlue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(#a2e6ff, #ffffff);
    padding: 4rem 0;
}
#contactForm{
    display: flex;
    width: 100%;
}
.fa-globe{
    margin-right: 0.5rem;
}
.envelopeImg{
    width: 50%;
}
.envelopeImg img{
    margin: 1rem 0;
    margin-left: 10rem;
    height: 70%;
    width: 70%;
}
#contactForm form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.formInputs{
    width: 70%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 3rem;
}
.sendBtn{
    width: 50%;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    font-family: 'Open-sans', sans-serif;
    background: linear-gradient(90deg, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
    padding: 1rem;
    transition: background 0.2s ease 0s;
}
.sendBtn:hover{
    background: rgb(148, 115, 221);
    padding: 1.2rem;
    margin: -0.2rem;
    font-size: 19px;
    border-radius: 32px;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}