@media (max-width: 1072px){
    #navList{
        display: none;
    }
    #hamBurger{
        display: block;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    #logoFoot{
        width: 70%;
        margin-bottom: 1rem;
    }
    #otherThings{
        border-top: 2px solid black;
        padding-top: 1rem;
    }
}
@media (max-width: 600px){
    #navBar img{
        display: none;
    }
    #hamBurger{
        margin: 1rem;
        margin-left: 2rem;
    }  
    #smallSize{
        margin: 0;
        padding: 0;
    }
    .event{
        padding: 2rem;
    }
    .event h1 a{
        font-size: 1.5rem;
    }
    .icons{
        width: 75%;
    }
}
@media (max-width: 400px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    .event{
        margin: 0.5rem;
        padding: 1.5rem 0.3rem;
    }
    .event h1 a{
        font-size: 1.3rem;
    }
    .icons{
        width: 100%;
    }
    .whatWeDo{
        padding: 2rem;
        padding-top: 4rem;
    }
    .buttonsForPages{
        margin: 0;
    }
}