*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body::before{
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6) url('https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-025.jpg') no-repeat center/cover;
    background-blend-mode: darken;
    animation: move-bg 20s ease-in-out infinite forwards;
}
@keyframes move-bg{
    0%{
        background-position-y: 0%;
    }
    50%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 0%;
    }
}

/* Navigation Bar */
#navBar{
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#eventsBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    font-size: 30px;
    margin: auto 1rem;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* Events at TRPWS */
#eventsAtTrpws{
    padding: 3rem;
    padding-top: 6rem;
}
#eventPage1{
    display: flex;
    flex-direction: column;
}
#eventPage2{
    display: none;
}
.event{
    margin: 1rem;
    padding: 4rem;
    border: 2px solid black;
    /* background: url('https://ak.picdn.net/shutterstock/videos/19369183/thumb/1.jpg') no-repeat center/cover; */
    background: linear-gradient(90deg, rgb(81, 173, 216), white);
}
.event:nth-child(2n){
    border-radius: 1rem 0 1rem 1rem;
}
.event:nth-child(2n+1){
    border-radius: 0 1rem 1rem 1rem;
}
.event h1 a{
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(255, 77, 32);
}
.event h1 a:hover{
    cursor: pointer;
    color: #a43c00;
}
.event div a{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f5c84e;
    text-decoration: none;
}
.event div a:hover{
    color: #99843d;
}
.event p{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.readMore{
    font-family: 'Roboto', sans-serif;
    padding: 0.2rem 0.5rem;
    border: none;
    background: none;
    color: #fb3958;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
.readMore:hover{
    cursor: pointer;
    color: #99533d;
}

/* Buttons To hover through pages */
.buttonsForPages{
    background: none;
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.pages{
    display: flex;
    font-size: larger;
    font-weight: bold;
}
#page1{
    padding: 0.1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 100rem;
    color: goldenrod;
}
#page1:hover{
    cursor: pointer;
    background-color: #fb3958;
}
#page2{
    padding: 0.1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 100rem;
    color: black;
}
#page2:hover{
    cursor: pointer;
    background-color: #fb3958;
}
.buttonsForPages div{
    margin: 1rem;
}
#previousPage{
    display: none;
}
#previousPage:hover, #nextPage:hover{
    cursor: pointer;
    color: #fb3958;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}