@media (max-width: 1200px){
    .servicesCards{
        margin-top: 2rem;
        flex-direction: column;
    }
    .cardN{
        width: 80%;
        align-self: center;
    }    
    .cardN img{
        width: 10rem;
        height: 10rem;
    }
}
@media (max-width: 1072px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    #navList{
        display: none;
    }
    #hamBurger{
        display: block;
    }
    .cardContent{
        width: 80%;
        margin: 2rem;
        padding: 1rem;
    }
    #headingWhatWeDo div{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
    .moreContent{
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        flex-direction: column;
    }
    .whatWeDoContent{
        margin: 0;
        padding: 0;
        margin-top: 3rem;
        width: 100%;
        align-self: center;   
    }
    #servicesWeProvide{
        padding: 0;
        padding-top: 4rem;
    }
    #educationTrpws h1{
        padding: 0.2rem;
    }
    .educationCards{
        flex-direction: column;
    }
    .cardEdu{
        width: 90%;
        align-self: center;
    }
    .cardEdu img{
        height: 20rem;
    }
    .cardConnect{
        margin: 1rem 0;
        width: 60%;
        align-self: center;
    }
    .icons{
        width: 50%;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    #logoFoot{
        width: 70%;
        margin-bottom: 1rem;
    }
    #otherThings{
        border-top: 2px solid black;
        padding-top: 1rem;
    }
}
@media (max-width: 600px){
    #navBar img{
        display: none;
    }
    #hamBurger{
        margin: 1rem;
        margin-left: 2rem;
    }
    .btnReadMore, .btnReadLess{
        width: 48%;
        padding: 0.1rem;
    }
    .defineSize{
        margin: 1rem;
        padding: 1rem;
    }    
    #smallSize{
        margin: 0;
        padding: 0%;
    }
    .icons{
        width: 75%;
    }
}
@media (max-width: 400px){
    .btnReadMore, .btnReadLess{
        padding: 0.1rem;
        width: 65%;
    }
    .cardConnect img{
        height: 111px;
    }
    .icons{
        width: 100%;
    }
    .whatWeDo{
        padding: 2rem;
        padding-top: 4rem;
    }
}
@media(max-width: 300px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }
    div{
        font-size: 1rem;
    }
    .cardConnect{
        padding: 0.2rem;
    }
    #servicesWeProvide h1{
        font-size: 1.5rem;
    }
    .btnReadMore, .btnReadLess{
        padding: 0.1rem;
        width: 70%;
    }
}