*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}
hr{
    margin: 0 auto;
    margin-top: 1rem;
    width: 50%;
}

/* Navigation Bar */
#navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#homeBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    margin: auto 1rem;
    font-size: 30px;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* Section of Who We Are and We Teach Them the right Way*/
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    background-color: #e0ebe6f8;
}
.cardContent{
    border-radius: 1rem;
    background-color: rgb(17, 26, 29);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    padding: 4rem;
}
.cardContent h1{
    text-align: center;
    margin: 0px auto;
    color: rgb(76, 172, 164);
    padding-bottom: 2rem;
}
.cardContent div{
    font-size: 18px;
    padding: 1rem 1rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* Section of What We Do */
.whatWeDo{
    padding: 4rem;
    color: white;
    background: rgba(0, 0, 0, 0.7) url('https://mediaindia.eu/wp-content/uploads/2017/01/14938316_593811450814180_4792412075286765649_n.jpg') no-repeat center/cover;
    background-blend-mode: darken;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#headingWhatWeDo{
    display: flex;
    color: rgb(247, 173, 37);
}
#headingWhatWeDo div{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    padding: 0 1rem;
}
.moreContent{
    margin: 3rem;
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.whatWeDoContent{
    width: 25%;
    text-align: center;
}
.whatWeDoContent h2{
    color: rgb(11, 226, 215);
}
.whatWeDoContent div{
    padding-top: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
}
.btnApply{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    border: none;
    color: white;
    background-color: rgb(62, 231, 217);
    padding: 0.8rem 1.7rem;
    border-radius: 2rem;
    margin: 2rem 0;
    outline: none;
}
.btnApply:hover{
    background-color: rgb(247, 173, 37);
    cursor: pointer;
}

/* Section For Services We Provide */
#servicesWeProvide{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(100deg, #333745, #333745);
    color: white;
}
.servicesCards{
    display: flex;
    justify-content: space-evenly;
}
.cardN{   
    margin: 2.5rem 0rem;
    padding: 1rem 0.5rem;
    width: 30%;
    text-align: center;
    border-radius: 2rem;
}
#teachingCard{
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
    transition: margin 0.1s ease-in 0.1s;
}
#donateDriveCard{
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    transition: margin 0.1s ease-in 0.1s;
}
#endDrugCard{
    background: linear-gradient(to right, #96c93d, #00b09b);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    transition: margin 0.1s ease-in 0.1s;
}
.cardN img{
    height: 19rem;
    width: 19rem;
    border-radius: 10rem;
    margin: 2rem 0;
}
.cardN div{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Section about Education At TRPWS */
#educationTrpws{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 0;
}
#educationTrpws h1{
    background-color: rgb(160, 247, 239);
    border-radius: 2rem;
    padding: 1rem 4rem;
}
.educationCards{
    display: flex;
    justify-content: space-between;
}
.cardEdu{
    width: 33%;
    background-color: rgb(176, 255, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin: 4rem 1rem;
    border: 0.05rem solid rgba(51, 146, 138, 0.651);    
    box-shadow: 1rem 1rem 1rem rgb(109, 236, 226);
    transition: margin 0.1s ease-in 0.1s;
}
.cardEdu:hover{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.cardEdu img{
    height: 25rem;
    border-radius: 1rem;
    width: 100%;    
    margin-bottom: 1rem;
}

/* Section on Connect with TRPWS */
#connectWithUs{    
    background-color: rgb(131, 202, 202);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#connectWithUs h1{
    color: white;
}
.connectCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 0;
}
.cardConnect{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 215, 245);
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}
.cardConnect img{
    align-self: center;
    border-radius: 1rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 335px;
}
.cardConnect div{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.btnReadMore, .btnReadLess{
    margin: 1rem 0;
    font-family: 'Mulish', sans-serif;
    width: 33%;
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: rgb(40, 199, 159);
    border: none;
    outline: none;
}
.btnReadMore:hover, .btnReadLess:hover{
    background-color: rgb(2, 158, 119);
    opacity: 0.8;
    border: none;
    cursor: pointer;
}
.btnReadMore .fa, .btnReadLess .fa{
    margin-left: 0.1rem;
}
.contentReadMore{
    display: none;
}
.btnReadLess{
    display: none;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}