*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Navigation Bar */
#navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#internBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    margin: auto 1rem;
    font-size: 30px;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* Intro Section */
#background{
    background: rgba(0, 0, 0, 0.7) url('https://mediaindia.eu/wp-content/uploads/2017/01/14938316_593811450814180_4792412075286765649_n.jpg') no-repeat center/cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    height: 90vh;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100%;
    padding: 2rem;
    background-image: linear-gradient(90deg, rgba(21, 245, 234, 0.5), rgba(100, 12, 241, 0.5));
}
#intro h1{
    font-size: 4rem;
    font-weight: lighter;
    background-image: linear-gradient(45deg, #CA4246, #E16541, #E16541, #F18F43, #F18F43, #CA4246, #E16541, #E16541, #F18F43, #F18F43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
    animation: drop-down 1s ease-out 2s forwards;
}
@keyframes drop-down{
    from{
        transform: translateY(-500px);
    }
    to{
        transform: translateY(0px);
        visibility: visible;
    }
}
#intro h1 hr{
    margin-top: 0.2rem;
    background-color: white;
    height: 1px;
}
#intro p{
    font-family: 'Open-Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem;
    visibility: hidden;
    animation: drop-left 2s ease-out forwards;
}
@keyframes drop-left{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0px);
        visibility: visible;
    }
}
#intro a{
    margin: 2rem;
    text-decoration: none;
    background-color: #fb3958;
    color: white;
    font-family: 'Roboto-Condensed', sans-serif;
    padding: 0.8rem 1.3rem;
    border-radius: 2rem;
    animation: spin 2s ease-in-out forwards;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
#intro a:hover{
    padding: 1rem 1.5rem;
    font-size: 1.04rem;
    margin: 1.8rem 2rem;
    background-color: #d1ce26;
    box-shadow: rgb(10, 10, 10) 0.5rem 0.5rem 0.5rem;
}

/* Internship Form */
#backgroundForm{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTONkvSMcaZLG3506rI9H0uN7PZoPZpT9Gidw&usqp=CAU');
}
#bgGradient{
    padding: 4rem;
    background: linear-gradient(90deg, rgb(0, 255, 179,0.4), rgb(0, 238, 255,0.4));
}
#form{
    border-radius: 2rem;
    width: 100%;
    display: flex;
    background-color: rgb(27, 27, 27);
    box-shadow: rgb(10, 10, 10) 1rem 1rem 1rem;
}
#form img{
    width: 50%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
#internForm{
    margin: 2rem auto;
    width: 40%;
    color: white;
    font-family: 'Mulish', sans-serif;
}
#internForm h1{
    text-align: center;
    background-image: linear-gradient(45deg, #00a3cc, #fcfcfc, #00a3cc, #fcfcfc, #00a3cc, #fcfcfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.formElement{
    display: flex;
    margin: 4rem 0;
    border-bottom: 2px solid grey; 
}
.formElement2{
    display: flex;
}
.formElement ::placeholder, .formElement2 ::placeholder{
    color: rgb(161, 155, 155);
}
.formInput{
    color: white;
    background: none;
    border: none;
    outline: none;
    margin: 0 2rem;
}
#internType, #message{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}
#internType{
    border-bottom: 2px solid grey;
}
#internType option{
    background-color: rgb(85, 85, 85);
    color: white;
}
#message{
    border: 2px solid grey;
}
.fa{
    color: white;
}
.submitBtn{
    background-color: #0ca6e9;
    font-weight: 500;
    color: white;
    margin-right: 3rem;
}
.resetBtn{
    background-color: #fb3958;
    color: white;
    font-weight: 500;
    padding: inherit 1rem;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}