*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Navigation Bar */
#navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 26, 29);
}
#navBar img{
    filter: opacity(0.8);
}
#navList{
    align-self: flex-end;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBtns{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
}
.btnBar:hover{
    cursor: pointer;
    background-color: rgb(76, 172, 164);
    border-radius: 1rem;
    margin: 0 1rem;
}
.navBtns a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;  
}
#volunteerBtn a{
    color: rgb(76, 172, 164);
}
#hamBurger{
    display: none;
    color: white;
    margin: auto 1rem;
    font-size: 30px;
}
#hamBack{
    color: white;
    font-size: 20px;
    display: none;
}

/* Intro Section */
#background{
    background: url('https://www.trpws.com/wp-content/uploads/2020/06/carousel11.png') no-repeat center/cover;
    background-attachment: fixed;
    height: 50vh;
}
#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50vh;
    background-image: linear-gradient(90deg, rgba(107, 21, 245, 0.5), rgba(12, 131, 241, 0.5));
}
#background hr{
    margin: 0em;
    background-color: white;
    height: 2px;
    animation: line 1s ease-out 1s 1 backwards;
}
@keyframes line{
    0%{
        width: 0%;
    }
    20%{
        width: 20%;
    }
    40%{
        width: 40%;
    }
    60%{
        width: 60%;
    }
    80%{
        width: 80%;
    }
    100%{
        width: 100%;
    }
}

/* Middle Section */
#middle{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZrW775pfrP1_i_8hT1FqILU9Fz7XdaRHy2Q&usqp=CAU') center/cover;
}
#middle div{
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#middle hr{
    margin: 0;
    background-color: black;
    height: 2px;
}

/* Fields At TRPWS */
#fields{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://image.freepik.com/free-vector/abstract-pastel-watercolor-texture-background_10126-978.jpg') no-repeat center/cover;
    background-attachment: fixed;
}
#fields hr{
    margin: 0;
    background-color: black;
    height: 2px;
}
#fieldsList{
    display: flex;
    flex-wrap: wrap;
}
.fieldsItem{
    width: 49%;
    height: 100%;
    border: 2px solid black;
    box-shadow: rgb(53, 53, 53) 0rem 0.5rem 1rem;
    margin: 1rem 0;
    margin-right: 0.2rem;
    background-blend-mode: darken;
}
#backgroundWD{
    background: rgba(0, 0, 0, 0.7) url('https://appsmaventech.com/images/blog/The-Evolution-Of-Web-Development-Via-Machine-Learning.jpg') no-repeat center/cover;
}
#backgroundGD{
    background: rgba(0, 0, 0, 0.7) url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOUMq8crBJFQqgxNvqJhw9Vj9MKpBWbBhVOg&usqp=CAU') no-repeat center/cover;
}
#backgroundCW{
    background: rgba(0, 0, 0, 0.7) url('https://virtualwebs.co/images/content-mamagement.png') no-repeat center/cover;
}
#backgroundCD{
    background: rgba(0, 0, 0, 0.8) url('https://www.advertisingweek360.com/wp-content/uploads/2018/08/169creative-1170x600.jpg') no-repeat center/cover;
}
#backgroundT{
    background: rgba(0, 0, 0, 0.8) url('https://34co0u35pfyt37c0y0457xcu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/USD-complete-list-of-teaching-methods.jpg') no-repeat center/cover;
}
#backgroundPR{
    background: rgba(0, 0, 0, 0.7) url('https://onlinepr-blog.com/wp-content/uploads/2017/03/Art-of-selling-2.jpg') no-repeat center/cover;
}
#backgroundHR{
    background: rgba(0, 0, 0, 0.7) url('https://www.thebalancecareers.com/thmb/Wkx2jLFA-m-SCait0hKxO2uB5jw=/4500x3000/filters:fill(auto,1)/what-is-a-human-resource-1918144_final-b39481416bdd4f689e11df61ab88b906.png') no-repeat center/cover;
}
#backgroundSMM{
    background: rgba(0, 0, 0, 0.7) url('https://exchange4media.gumlet.io/news-photo/102378-Social-media.jpg?format=webp&w=400&dpr=2.6') no-repeat center/cover;
}
#backgroundP{
    background: rgba(0, 0, 0, 0.7) url('https://i.ytimg.com/vi/ejNIow5DPUM/maxresdefault.jpg') no-repeat center/cover;
}
.fieldsItem div{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    color: white;
}
.fieldsItem div:hover{
    cursor: pointer;
}
.fa{
    margin-right: 0.2rem;
}
.fa-angle-double-up{
    display: none;
}
#webD{
    background-image: linear-gradient(90deg, rgba(63, 224, 71, 0.5), rgba(28, 230, 186, 0.5));
}
#graphicD{
    background-image: linear-gradient(90deg, rgba(224, 63, 63, 0.5), rgba(126, 230, 28, 0.5));
}
#contentW{
    background-image: linear-gradient(90deg, rgba(224, 135, 63, 0.5), rgba(42, 28, 230, 0.5));
}
#creativeD{
    background-image: linear-gradient(90deg, rgba(100, 224, 63, 0.5), rgba(230, 28, 196, 0.5));
}
#teaching{
    background-image: linear-gradient(90deg, rgba(224, 63, 63, 0.5), rgba(122, 28, 230, 0.5));
}
#publicR{
    background-image: linear-gradient(90deg, rgba(63, 146, 224, 0.5), rgba(52, 230, 28, 0.5));
}
#humanR{
    background-image: linear-gradient(90deg, rgba(151, 63, 224, 0.5), rgba(28, 230, 72, 0.5));
}
#socialMM{
    background-image: linear-gradient(90deg, rgba(224, 63, 197, 0.5), rgba(230, 28, 55, 0.5));
}
#photoG{
    background-image: linear-gradient(90deg, rgba(224, 63, 117, 0.5), rgba(193, 230, 28, 0.5));
}
.fieldsContent{
    display: none;
}

/* Footer */
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(73, 70, 70);
    color: white;
    font-size: large;
    text-align: center;
    padding: 2rem;
    display: flex;
}
#logoFoot{
    width: 30%;
}
#logoFoot p{
    margin: 1rem 0;
}
#otherThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otherThings div{
    padding: 0.5rem 0;
}
.icons{
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}
.icons a{
    text-decoration: none;
}
.icons .fa{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    color: white;
}
.fa-facebook{
    background-color: #3d5b99;
}
.fa-instagram{
    background-color: #fb3958;
}
.fa-twitter{
    background-color: #00aced;
}
.fa-youtube{
    background-color: #e64a41;
}
.fa-linkedin{
    background-color: #0073a4;
}
.fa-google-plus{
    background-color: #e64a41;
}