@media (max-width: 1000px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    #navList{
        display: none;
    }
    #hamBurger{
        display: block;
    }
    .icons{
        width: 50%;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    #logoFoot{
        width: 70%;
        margin-bottom: 1rem;
    }
    #otherThings{
        border-top: 2px solid black;
        padding-top: 1rem;
    }
}
@media (max-width: 600px){
    #navBar img{
        display: none;
    }
    #hamBurger{
        margin: 1rem;
        margin-left: 2rem;
    }
    .btnReadMore, .btnReadLess{
        width: 48%;
        padding: 0.1rem;
    }
    .fieldsItem{
        width: 100%;
    }
    #head div{
        font-size: 1.37rem;
    }
    #smallSize{
        margin: 0;
        padding: 0%;
    }
    .icons{
        width: 75%;
    }
}
@media (max-width: 400px){
    .icons{
        width: 100%;
    }
    #head div{
        margin: 0 2rem;
        text-align: center;
    }
    #head div hr{
        display: none;
    }
}
@media(max-width: 300px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }
}